
#matvalues{ 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
#amatinvalue{
   background-color: rgb(255, 181, 181); 
}
#bmatinvalue{
   background-color: rgb(141, 141, 141); 
}
.ainvalue{
    display: none;
}
.binvalue{
    display: none;
}
#nextbutton{
    display: inline;
}
#multibutton{
    display: none;
}
#output{
    display: none;
}
#tryagainbtn{
    display: none;
}
